@model Product
@{
    ViewData["Title"] = "Delete a product";
}

<h1>Delete Product</h1>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Product" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" asp-items="ViewBag.CatList" class="form-control" disabled>
                    <option value=""> Select a category</option>
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" disabled />

            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" disabled />

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="6" cols="50" asp-for="Description" class="form-control" disabled> </textarea>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ImageFile" class="form-control custom-file-input" id="uploadPhoto" onchange="previewFile()" />
                </div>
            </div>
            <div>
                <img src=@("/images/"+Model.CoverPhoto) width="100" id="preview" border=1 />
            </div>

            <input type="hidden" asp-for="CoverPhoto" />
            <input type="hidden" asp-for="Product_ID" />
            <div class="form-group">
                <input type="submit" value="Delete Product" class="btn btn-primary" />
            </div>
        </form>



    </div>

</div>


